* {
  margin: 0rem;
  padding: 0rem;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --table-size: 17rem;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 3rem 1fr;
  background-color: rgb(238, 238, 238);
}

.header {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem; font-weight: bold;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);;
}

.container-gameboard {
  justify-self: center;
  align-self: center;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-column: auto;
  grid-row: auto;
  grid-auto-flow: column;
  padding: 1.5rem;
  border-radius: .5rem;
}

table {
  height: var(--table-size);
  width: var(--table-size);
  border-collapse: collapse;
  border: 1px solid rgb(163, 163, 163);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  font-size: 3rem;
}

td{
  width: calc(var(--table-size)/3);
  height: calc(var(--table-size)/3);
  text-align: center;
  border: 2px solid rgb(190,190,190);
  cursor: pointer;
  user-select: none;
}

.status {
  height: 30vh;
  width: 20vh;
  border: solid 1px black;
}

.game-over-screen {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  justify-items: center;
  backdrop-filter: blur(2px) brightness(20%);
}

.container-message {
  display: grid;
  top : 3.5rem;
  height: 6rem;
  position: relative;
  border-radius: .5rem;
  padding: 1.3rem;
  background-color: #ffffff;
}

.message {
  background-color: white;
  font-size: 1.3rem;
  text-align: center;
}

.final-restart {
  border: none;
  border-radius: .3rem;
  background-color: rgb(238, 238, 238);
}